* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #F5F3F1; */
    font-size: 16px;
}

.contact-nav-bar {
    width: 100%;
    height: 80px;
    /* border: 2px solid purple; */
    display: flex;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.2);
}

.contact-nav-bar-wrapper {
    width: 100%;
    display: flex;
    padding-left: 14%;
    padding-right: 14%;
    justify-content: space-between;
}

.contact-luxury-text-wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    /* border: 2px solid seagreen; */
}

.contact-luxury-text {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 6px;
    font-weight: 500;
    word-wrap: normal;
    color: white;
}

.contact-navigations-wrapper {
    display: flex;
    /* border: 2px solid salmon; */
}

.contact-navigations {
    display: flex;
    gap: 50px;
}

li {
    list-style: none;
}

.contact-villas-text {
    font-family: "Rufina", serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
    color: white;
}

.no-underline {
    text-decoration: none;
    color: white;
}

.contact-section {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    padding: 100px 20px;
    min-height: 100vh;
}

.contact-section::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 0;
    background-image:
        linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%),
        linear-gradient(315deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 60%);
    filter: blur(250px);
}

.contact-section .content {
    position: relative;
    z-index: 1;
}

.contact-hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid sandybrown;
    gap: 40px;
}

.contact-hero-wrapper-top-text-one {
    font-size: 60px;
    line-height: 72px;
    font-family: "Rufina", serif;
    font-style: bold;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
}

.contact-hero-wrapper-top-text-two {
    font-weight: 400;
    font-style: regular;
    font-size: 24px;
    line-height: 40px;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.contact-hero-wrapper-bottom {
    width: 1100px;
    height: 450px;
    /* border: 2px solid orange; */
    display: flex;
}

.contact-hero-wrapper-bottom-left-box {
    width: 50%;
    height: 100%;
    /* border: 2px solid navy; */
    display: flex;
    border-bottom-left-radius: 80px;
}

.contact-hero-wrapper-bottom-left-box-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 80px;
}

.contact-hero-wrapper-bottom-right-box {
    width: 50%;
    height: 100%;
    /* border: 2px solid lawngreen; */
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 80px;
    background-color: rgba(245, 243, 241, 1);
}

.contact-hero-wrapper-bottom-right-box-holder {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-hero-wrapper-bottom-right-box-nest-top {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    /* border: 2px solid firebrick; */
    gap: 20px;
}

.contact-hero-wrapper-bottom-right-box-nest-top-up {
    display: flex;
    /* border: 2px solid black; */
}

.contact-hero-connect-text {
    font-family: "Rufina", serif;
    font-style: bold;
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 1px;
}

.contact-hero-wrapper-bottom-right-box-nest-top-down {
    display: flex;
    /* border: 2px solid blueviolet; */
}

.phone-text {
    font-family: "Rufina", serif;
    color: rgba(24, 29, 36, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}

.contact-info {
    font-family: "Rufina", serif;
    font-size: 18px;
    line-height: 24px;
}

.contact-item {
    margin: 0 0 0.8em 0;
}

.contact-item:last-child {
    margin-bottom: 0;
}

.number-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}

.info-text {
    font-family: "Rufina", serif;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}


.address-line {
    padding-left: 4.4em;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}

.contact-hero-wrapper-bottom-right-box-nest-bottom {
    display: flex;
    width: 250px;
    height: 35px;
    /* border: 2px solid saddlebrown; */
}

.contact-hero-svg-wrapper {
    display: flex;
    gap: 20px;
}

.svg-holder {
    display: flex;
    width: 27px;
    height: 27px;
    /* border: 2px solid springgreen; */
}

.svg-holder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contact-faq {
    width: 100%;
    height: 795px;
    border: 2px solid green;
    /* padding-top: 100px;
    padding-right: 277px;
    padding-bottom: 100px;
    padding-left: 277px; */
    gap: 95px;
}

.contact-faq-wrapper {
    width: 100%;
    height: 795px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
}

.contact-faq-top {
    width: fit-content;
    height: fit-content;
    border: 2px solid maroon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contact-faq-top-up-text {
    font-family: "Rufina", serif;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 1px;
    font-style: bold;
}

.contact-faq-top-down-text {
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

.contact-faq-bottom-up {
    border: 2px solid burlywood;

}

.contact-faw-bottom-down{
    border: 2px solid seagreen;
}